<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <link rel="icon" type="image/png" href="img/logo2.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/d520c148c3.js" crossorigin="anonymous"></script>
    <title>Market</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <%- include("partials/header") %>
    <main>
        <div class="container">
            <div class="row row_style">
                <div>
                    <form action="/updateAccount" method="POST" id="settingsForm">
                        <div id="changeAccountInfo" class="col-md-5">
                            <h4>Account information</h4>
                            <div class="form-group">
                                <div id="nameGroup">
                                    <div class="form-group">
                                        <b>Name</b>
                                    <input type="text" placeholder="<%= userName %>" id="settingsName" class="form-control">
                                    </div>
                                </div>
                                <div id="surnameGroup">
                                    <div class="form-group">
                                        <b>Surname</b>
                                        <input type="text" placeholder="<%= userSurname %>" id="settingsSurname" class="form-control">
                                    </div>
                                </div>
                                <div id="emailGroup">
                                    <div class="form-group">
                                        <b>Email</b>
                                        <input type="text" placeholder="<%= userEmail %>" id="settingsEmail" class="form-control settingsInput" name="email">
                                        <i class="formulario__validacion-info fas"></i>
                                    </div>
                                    <p class="formInputError">Please insert a valid email</p>
                                </div>
                                <div id="phoneGroup">
                                    <div class="form-group">
                                        <b>Phone</b>
                                        <input type="text" placeholder="<%= userPhone %>" id="settingsPhone" class="form-control settingsInput" name="phone">
                                        <i class="formulario__validacion-info fas"></i>
                                    </div>
                                    <p class="formInputError">Please insert a valid phone</p>
                                </div>
                            </div>
                        </div>
                        <div id="changePassword" class="col-md-6">
                            <p>
                                <h4>Change Password</h4>
                            </p>
                            <div class="form-group">
                                <div id="oldPasswordGroup">
                                    <div class="form-group">
                                        <b>Old password</b>
                                        <input type="password" class="form-control settingsInput" placeholder="Old Password" name="oldPassword" id="oldPassword">
                                    </div>
                                </div>
                                <div id="passwordGroup">
                                    <div class="form-group">
                                        <b>New password</b>
                                        <input type="password" class="form-control settingsInput password" placeholder="New Password" name="password" id="newPassword">
                                        <i class="formulario__validacion-pass fas"></i>
                                    </div>
                                    <p class="formInputError">Make sure that your password be at least 6 characters long including a number and an uppercase letter.</p> 
                                </div>
                                <div id="confirm_passwordGroup">
                                    <div class="form-group">
                                        <b>Confirm password</b>
                                        <input type="password" class="form-control settingsInput confirm_password" placeholder="Confirm Password" name="confirm_password" id="confirmNewPassword">
                                        <i class="formulario__validacion-pass fas"></i>
                                    </div>
                                    <p id="confirm_password" class="formInputError">Make sure that both passwords match</p> 
                                </div>
                            </div>
                            <div id="<%= changePasswordError %>">
                                <p id="userExists"><i class="fas fa-exclamation-triangle"></i> <b>Incorrect Password!</b></p>
                            </div>
                            <button class="btn btn-primary" id="settingsSaveBtn">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials/footer") %>
    <script src="./settingsForm.js"></script>
</body>

</html>